<app-navbar></app-navbar>

<table class="table-auto">
    <thead>
      <tr>
        <th>Project</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Angular</td>
        <td>Angular Project description</td>
      </tr>
      <tr class="bg-emerald-200">
        <td>Dotnet Core</td>
        <td>Dotnet Core Project description</td>
      </tr>
      <tr>
        <td>GraphQL</td>
        <td>GraphQL Project description</td>
      </tr>
    </tbody>
  </table>