<router-outlet></router-outlet>
<div class="project-item-card border shadow-md rounded p-2 m-2 h-40">
    <div class="card-body">
        <h5 class="text-2xl font-semibold mb-2 text-blue-800">Project title</h5>
        <p class="card-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="/track-time" class="rounded border px-4 py-2 mr-4 border-blue-800 text-blue-800">TRACK YOUR TIME</a>
        <a href="#" class="rounded border px-4 py-2 openmodale bg-blue-800 text-white">VIEW INFORMATION</a>
        <div class="modale" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-header">
                    <a href="#" class="btn-close closemodale" aria-hidden="true">&times;</a>
                </div>
                <div class="modal-body">
                    <app-project-info></app-project-info>
                </div>
            </div>
        </div>
    </div>
</div>