<app-navbar></app-navbar>
<div>
    <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold text-gray-900">
                Dashboard
            </h1>
        </div>
    </header>
    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <!-- Replace with your content -->
            <div class="px-4 py-6 sm:px-0">
                <div>
                    <div class="grid grid-cols-1 md:grid-cols-3">
                        <app-project-item></app-project-item>
                        <app-project-item></app-project-item>
                        <app-project-item></app-project-item>
                        <app-project-item></app-project-item>
                        <app-project-item></app-project-item>
                        <app-project-item></app-project-item>
                        <app-project-item></app-project-item>
                        <app-project-item></app-project-item>
                        <app-project-item></app-project-item>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>